.inputArea {
    display: grid ;

}

.btn0 {
    grid-template-columns: 1fr;
}

.btn1 {

    grid-template-columns: 1fr 35px;
}

.btn2input {

    grid-template-columns: 1fr 70px;
}

.btn2textarea {
    grid-template-columns: 1fr 35px;
}

.buttonArea {

}

.buttonAreaBtn2textarea {
    display: grid;
    grid-template-rows: 35px 35px;
}

.cancelButton {
    grid-row: 1/2;
}

/*.inputAreaShowError {*/
/*    grid-template-rows: 1fr 17px;*/
/*}*/

/*.errorMessage {*/
/*    color: red;*/
/*    font-size: 12px;*/
/*    font-style: italic;*/
/*}*/