.cardType {
    width: 240px;
    border: solid 1px black;
    padding: 5px;
    margin: 5px
}

h3 {
    display: inline-block;
}


.doneTask {
    opacity: 50%;
}

.activeButton {
    background-color: #08415C;
    color: #F1BF98
}